@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

:root {
    --bs-font-sans-serif: Poppins,Helvetica,"sans-serif";
    --white: #ffffff;
    --black: #000000;
    --blue: #1A4798;
    --red: #ED1C24;
    --yellow: #F4C027;
}

.ticket-container {
	margin: 20px auto;
	width: 600px;
	height: 100vh;
	/* display: grid; */
	font-family: var(--bs-font-sans-serif);
	justify-content: center;
	background: white;
	color: black;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.ticket {
	margin: auto;
	display: flex;
	background: white;
	background-image: linear-gradient(90deg, rgba(208,118,118,0.3) 0%, rgba(255,184,184,0) 50%, rgba(208,118,118,0.3029586834733894) 100%);
}

.left {
	display: flex;
}

.image {
  width: 250px;
  background-image: url("qr.png");
  background-size: contain;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-right: 1px dashed #404040;
}

.left .ticket-number {
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 5px;
  	margin-top: 20px;
}

.ticket-info {
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.date {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date span {
	width: 100px;
}

.date span:first-child {
	text-align: left;
}

.date span:last-child {
	text-align: right;
}

.date .day {
	color: var(--red);
	font-size: 15px;
}

.show-name {
	font-size: 15px;
	font-family: var(--bs-font-sans-serif);
	color: gray;
}

.show-name h1 {
	font-size: 20px;
	font-weight: 700;
	color: var(--blue);
}

.time {
	color: black;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.time span {
	font-weight: 400;
	color: gray;
}

.left .time {
	font-size: 16px;
}


.location {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 8px;
	border-top: 1px solid gray;
    font-size: 9px;
}

.location .separator {
	font-size: 20px;
}